.stars {
  background: #000 url(../../assets/stars.png) repeat top center;
}

.twinkling {
  background: transparent url(../../assets/twinkling.png) repeat top center;
  animation: var(--animate-twinkle);
}

.clouds {
  background: transparent url(../../assets/clouds3.png) repeat top center;
  animation: var(--animate-clouds);
}
